*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{ 
    
    font-family: 'Roboto', sans-serif;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
#toast{
    position: fixed;
    right: 12px;
    top: 12px;
    z-index: 999;
    
}
.toast{
    display: flex;
    align-items: center;
    background-color: rgba(207, 203, 203, 0.144);
    /* margin: 16px; */
    width: 480px;
    padding: 12px 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
    border-left: 4px solid; 
    transition: all linear 0.3s;
    
}
.toast + .toast {
    margin-top: 24px;
}
  

@keyframes slideOut {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);

    }
}
@keyframes fadeOut{
    to {
        opacity: 0;
    }
}

.toast__icon{
    margin-right: 16px;
    margin-left: 8px;
}
.toast__body{
    flex: 1;
}
.toast__title{
    font-size: 16px;
    font-weight: 600;
    color: rgb(85, 84, 84);

}
.toast__message{
    font-size: 14px;
    margin-top: 4px;
    font-weight: 500;
    color: rgb(133, 133, 133);
}
.toast__close{
    padding: 4px 6px;
    color: rgb(85, 84, 84);
    font-size: 24px;
}
.btn{
    color: white;
    padding: 8px 16px;
    font-size: 18px;
    margin: 4px;
    cursor: pointer;
    border-radius: 50px;
    min-width: 200px;
    text-align: center;
    transition: all ease .2s;
}
.btn:hover{
    opacity: 0.8;
}
.btn-show-success{
    background-color: #47d864;
}
.btn-show-error{
    background-color: red;
}
.btn-show-warning{
    background-color: #ffc021;
}
.btn-show-infor{
    background-color: #2f86eb;
}


.toast.toast--success{
    border-color: #47d864;
}
.toast.toast--infor{
    border-color: #2f86eb;
}
.toast.toast--warning{
    border-color: #ffc021;
}
.toast.toast--error{
    border-color: red;
}

.toast.toast--success .toast__icon{
    color: #47d864;
}
.toast.toast--infor .toast__icon{
   color: #2f86eb;
}
.toast.toast--warning .toast__icon{
   color: #ffc021;
}
.toast.toast--error .toast__icon{
   color: red;
}